*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-color: rgb(240, 150, 40);
    color: white;
}

header nav{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-family: cursive!important;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"], button[type="submit"]{
   border: none;
   font-size: 18px;
   padding: 10px;
   border-radius: 4px;
}

form button[type="submit"]{
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover{
    background-color: brown;
}

/* main section */
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}

.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 8px;
    width:350px;
    height:520px;
    box-shadow: 0 5px 10px black;
    transition: transform 0.3s ease-in-out;
}


.recipe:hover{
    transform: scale(1.01);
}
.recipe img{
    height: 300px;
}

.recipe h3{
    font-size: 23px;
    margin-block: 5px;
}

.recipe p{
    font-size: 20px;
    color: gray;
    margin: 5px 0;

}

.recipe span{
    font-weight: 600;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgb(136, 69, 204);
    border: none;
}

.recipe button:hover{
    background-color: rgb(123, 46, 142);
}

/* Recipe Details */
.recipe-details{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) ;
    background-color: rgb(58, 35, 11);
    border-radius: 12px;
    width: 40%;
    height:60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

/* adding scollbar */

.recipe-details-content{
    padding: 30px;
}

.recipe-details::-webkit-scrollbar{
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 16px;
    --webkit-border-radius:16px;
}

.recipeName{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.IngredientList{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.recipeInstructions{
    line-height:30px;
    white-space: pre-line;
    margin-bottom: 20px;
    margin-top: 10px;
}

.recipe-close-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgb(235, 55, 49);
    border: none;
    color: wheat;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.recipe-close-btn:hover{
    background-color: brown;
}



@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
}